/* google font roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* universal selector (*) You want to apply to everything */
/* box-sizing: border-box = if we add any padding or any border on to an element, it doesn't actually affect the width of it */

* {
    box-sizing: border-box;
}


/* display: flex; = if you have h2@3 (2 or more element) all h2 will display in the same row, flex-direction: column; = will adjust those 3lines of h2 in column  */
/* if you have flex-direction: row;, the align-items: center; will align item vertical
 */
/* justify-content: center; = set element to the middle */
/* height: 100vh; = viewport height, take up the entire height of the browser and that the justify-content center will center the element both way */
/* overflow: hidden = don't want scroll bars to be shown by default */

.portfolio {
    /* background-color: #efedd6; */
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--navColor3);
}


/* display:flex = align the H2 inside to the center */
/* box-shadow = 2px 4px for the offset, 5px for the blur */
/* transform = animation for boxes moving along X (horizontal) line */
.box {
    background-color: whitesmoke;
    justify-content: center;
    width: 450px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

/* use seudo class to select every other box */
.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 30px;
}

img {
    width: 450px;
    height: 300px;

}

.box p {
    margin-bottom: 1%;
    text-align: center;
}